In [2]:
import os
import pandas as pd
import numpy as np

In [5]:
movie_df = pd.read_csv(r'data/movie.csv')
rating_df = pd.read_csv(r'data/rating.csv')

print(f"Movie df shape : {movie_df.shape}")
print(f"Rating df shape : {rating_df.shape}")

Movie df shape : (27278, 3)
Rating df shape : (20000263, 4)

In [ ]:
# Movie df head
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
# rating df head
rating_df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [13]:
#Merging both dfs on movieId

movie_ratings_df = movie_df.merge(rating_df, how="left", on="movieId")

print(f"Movie ratings df shape : {movie_ratings_df.shape}")

Movie ratings df shape : (20000797, 6)

In [18]:
def check_df_properties(df, head=2):
    print('****************** SHAPE ******************')
    print(df.shape)
    print('\n****************** DATA TYPES ******************')
    print(df.dtypes)
    print('\n****************** HEAD ******************')
    print(df.head(head))
    print('\n****************** TAIL ******************')
    print(df.tail(head))
    print('\n****************** NULL SUM ******************')
    print(df.isnull().sum())
    print('\n****************** DESCRIBE ******************')
    print(df.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [19]:
check_df_properties(movie_ratings_df)

****************** SHAPE ******************
(20000797, 6)

****************** DATA TYPES ******************
movieId        int64
title         object
genres        object
userId       float64
rating       float64
timestamp     object
dtype: object

****************** HEAD ******************
   movieId             title                                       genres  \
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

   userId  rating            timestamp
0     3.0     4.0  1999-12-11 13:36:47
1     6.0     5.0  1997-03-13 17:50:52

****************** TAIL ******************
          movieId                title                    genres    userId  \
20000795   131260  Rentun Ruusu (2001)        (no genres listed)   65409.0
20000796   131262     Innocence (2014)  Adventure|Fantasy|Horror  133047.0

          rating            timestamp
20000795     3.0  2015-03-30 19:57:46
20000796     4.0  2015-03-30 20:39:26

****************** NULL SUM ******************
movieId        0
title          0
genres         0
userId       534
rating       534
timestamp    534
dtype: int64

****************** DESCRIBE ******************
              count          mean           std  min   0%      5%      50%  \
movieId  20000797.0   9044.349230  19796.714278  1.0  1.0   147.0   2167.0
userId   20000263.0  69045.872583  40038.626653  1.0  1.0  6743.0  69141.0
rating   20000263.0      3.525529      1.051989  0.5  0.5     1.5      3.5

              95%       99%      100%       max
movieId   59118.0   94204.0  131262.0  131262.0
userId   131467.0  137061.0  138493.0  138493.0
rating        5.0       5.0       5.0       5.0

In [20]:
movie_ratings_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [21]:
# Rating count per movie 
rating_counts = pd.DataFrame(movie_ratings_df["title"].value_counts())

In [40]:
print(rating_counts.describe([0, 0.05, 0.50, 0.60, 0.70, 0.95, 0.99, 1]).T)

         count        mean          std  min   0%   5%   50%   60%    70%  \
count  27262.0  733.651126  3058.100218  1.0  1.0  1.0  16.5  44.0  115.0

           95%       99%     100%      max
count  3539.95  14299.85  67310.0  67310.0

In [41]:
rating_counts.head()

                                  count
title
Pulp Fiction (1994)               67310
Forrest Gump (1994)               66172
Shawshank Redemption, The (1994)  63366
Silence of the Lambs, The (1991)  63299
Jurassic Park (1993)              59715

Index(['count'], dtype='object')

In [48]:
# Considering movies with less than 1000 ratings as rare. Storing index of rare movies (names)

rare_movies = rating_counts[rating_counts["count"] <= 1000].index

In [49]:
print(f"Number of movies with less than 1000 ratings : {len(rare_movies)}")

Number of movies with less than 1000 ratings : 24103

In [50]:
# Common movies -> Movies which are not present in rare movies

common_movies = movie_ratings_df[~movie_ratings_df["title"].isin(rare_movies)]

In [51]:
common_movies["title"].nunique()

3159

In [52]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

MemoryError: Unable to allocate 3.26 GiB for an array with shape (3159, 138493) and data type float64

In [ ]:
user_movie_df